.gregister{
    display:inline-block !important;
}
.nav-search>ul>li{
    float:left;
    margin-right:20px;
}
.nav-search>ul{
    margin-top:3px;
}
/* 商城搜索栏 */
section{
    width:100%;
    
}
section .store-nav{
    background:#e7e7e7;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    box-sizing:border-box;
    box-shadow:0 5px 10px 2px #e7e7e7;
    position: fixed;;
    top:50px;
    transition:all .5s ease;
}
section .store-nav>div{
    vertical-align: middle;
}
section .store-nav .g-s-search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section .store-nav .g-s-search .gcenter{
    display:flex;
    width:100%;
    height:35px;
    border:1px solid #ccc;
}
section .store-nav .g-s-search .s-search-box{
    width:65%;
}
section .store-nav .g-s-search .s-search-box input{
    border:1px;
    outline: none;
    width:100%;
    height:100%;
    font-size:12px;
}
section .store-nav .g-s-search .s-search-car{
    width:30%;
    min-width: 90px;
    position:relative;
}
section .store-nav .g-s-search .s-search-car button{
    width:100%;
    height:100%;
    background:white;
    border:0px;
    font-size:0.7rem;
    text-shadow:0 0 0.05rem #AAA;
    border-left:1px solid #ccc;
    box-sizing:border-box;
    padding:6px;
    outline:none;
    cursor:pointer;
}
section .store-nav .g-s-search .s-search-enter{
    width:45px;;
    height:100%;
}
section .store-nav .g-s-search .s-search-enter button{
    width:100%;
    height:100%;
    background:white;
    border:0px;
    border-left:1px solid #ccc;
    outline:none;
    cursor:pointer;
}
.g-phone{
    display:flex;
    justify-content: flex-end;
}
.store-nav img{
 height:60%;  
 margin-top:12px;
}
.s-search-enter i{
    font-size:23px;
    font-weight: bold;
}
.s-search-car i{
    vertical-align:middle;
}
.search-extend{
    position:absolute;
}
.search-extend{
    height:0px;
    width:100%;
    overflow:hidden;
    z-index:9;
    transition:all .5s ease;
}
.search-extend ul{
    width:inherit;
    border-radius:5px;
    background:white;
    overflow:hidden;
}
.search-extend ul>li{
    text-align:center;
    
}
.search-extend ul>li>a{
    text-decoration: none;
}
.search-extend ul>li:hover{
    background:#ccc;
}
.search-trigon:after{
    content:"";
    display:block;
    padding:0;
    width:0;
    border-top:7px solid transparent;
	border-left:7px solid transparent;
	border-bottom:7px solid white;
    border-right:7px solid transparent;
    margin:0 auto;
}